---
layout: default
---
{%- if site.home_info -%}
<article class="first-entry home-info">
  <header class="entry-header">
    <h1>{{ site.home_info.title }}</h1>
  </header>
  <section class="entry-content">
    <p>{{ site.home_info.content }}</p>
  </section>
  <footer class="entry-footer">
    {%- include social-icons.html -%}
  </footer>
</article>
{%- endif -%}

{%- assign posts = paginator.posts | default: site.posts -%}
{%- for post in posts -%}
  {%- include post-entry.html post=post -%}
{%- endfor -%}

{%- if paginator and paginator.total_pages > 1 -%}
<footer class="page-footer">
  <nav class="pagination">
    {%- if paginator.previous_page -%}
    <a class="prev" href="{{ paginator.previous_page_path | relative_url }}">« 이전</a>
    {%- endif -%}
    {%- if paginator.next_page -%}
    <a class="next" href="{{ paginator.next_page_path | relative_url }}">다음 »</a>
    {%- endif -%}
  </nav>
</footer>
{%- endif -%}
